{% include 'header.html' %}
		<table class="table table-primary table-hover">
			<thead>
				<tr class="table-primary">
					<th scope="col">Year</th>
					<th scope="col">Month</th>
					<th scope="col">Category</th>
					<th scope="col">Amount</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for expense in expenses %}
				{% include 'expense_table_row.html' %}
				{% endfor %}
			</tbody>
		</table>

<!-- Add Expense Button -->
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addExpenseModal">
		Add Expense
		</button>
		<!-- Add Expense Modal -->
		<div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addExpenseModalLabel">Add Expense</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="/add_expense" method="post">
					<label for="year">Year:</label>
					<select class="form-select" id="year" name="year" required>
						<option value="2024">2024</option>
					</select>
					<label for="month">Month:</label>
					<select class="form-select" id="month" name="month" required>
						<option value="January">January</option>
						<option value="February">February</option>
						<option value="March">March</option>
						<option value="April">April</option>
						<option value="May">May</option>
						<option value="June">June</option>
						<option value="July">July</option>
						<option value="August">August</option>
						<option value="September">September</option>
						<option value="October">October</option>
						<option value="November">November</option>
						<option value="December">December</option>
					</select>
							<label for="category">Category:</label>
							<select class="form-select" id="category" name="category" required>
								<option value="Rent">Rent</option>
								<option value="Utilities">Utilities</option>
								<option value="Tel. Inet. Bills">Tel. Inet. Bills</option>
								<option value="Domestics">Domestics</option>
								<option value="Online Buys">Online Buys</option>
								<option value="Meds & Care">Meds & Care</option>
								<option value="Food">Food</option>
								<option value="Cigarettes">Cigarettes</option>
								<option value="Alcohol">Alcohol</option>
								<option value="Gaming">Gaming</option>
								<option value="Transportation">Transportation</option>
								<option value="Transfers">Transfers</option>
								<option value="Cloth">Cloth</option>
								<option value="Cafe & Bar">Cafe & Bar</option>
								<option value="Team Building">Team Building</option>
								<option value="Insurance">Insurance</option>
								<option value="Tourism">Tourism</option>
								<option value="Furniture">Furniture</option>
								<option value="Udemy">Udemy</option>
								<option value="Car">Car</option>
								<option value="Bank Commission">Bank Commission</option>
								<option value="Subscriptions">Subscriptions</option>
								<option value="Dollars">Dollars</option>
								<option value="Cat">Cat</option>
							</select>

							<!--<input type="text" class="form-control" id="category" name="category" required> !-->
							<label for="amount">Amount:</label>
							<input type="text" class="form-control" id="amount" name="amount" required><br>
							<button type="submit" class="btn btn-success">Add Expense</button>
				  		</form>
					</div>
				</div>
			</div>
		</div>
{% include 'footer.html' %}