{% include 'header.html' %}

		<table class="table table-hover">
			<thead>
				<tr class="table-dark">
					<th scope="col">Year</th>
					<th scope="col">Month</th>
					<th scope="col">Category</th>
					<th scope="col">Amount</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for expense in expenses %}
				{% include 'expense_table_row.html' %}
				{% endfor %}
			</tbody>
		</table>

<!-- Add Expense Button -->
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addExpenseModal">
		Add Expense
		</button>
		<!-- Add Expense Modal -->
		<div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addExpenseModalLabel">Add Expense</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="/add_expense" method="post">
							<label for="year">Year:</label>
							<input type="text" class="form-control" id="year" name="year" required>
							<label for="month">Month:</label>
							<input type="text" class="form-control" id="month" name="month" required>
							<label for="category">Category:</label>
							<select class="form-select" id="category" name="category" required>
								<option value="Rent">Rent</option>
								<option value="Utilities">Utilities</option>
								<option value="Tel. Inet. Bills">Tel. Inet. Bills</option>
								<option value="Domestics">Domestics</option>
								<option value="Online Buys">Online Buys</option>
							</select>

							<!--<input type="text" class="form-control" id="category" name="category" required> !-->
							<label for="amount">Amount:</label>
							<input type="text" class="form-control" id="amount" name="amount" required><br>
							<button type="submit" class="btn btn-success">Add Expense</button>
				  		</form>
					</div>
				</div>
			</div>
		</div>


{% include 'footer.html' %}