<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Koto Budgeting</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='_bootswatch.scss') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='_variables.scss') }}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
		<script>
			var socket = io.connect('http://' + document.domain + ':' + location.port);
			socket.on('data_updated', function(data) {
				console.log('Received updated data:', data);
			});
			function requestUpdate() {
				socket.emit('update_data', {data: 'request_updated_data_from_server'});
			}
		</script>

	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="./">Koto Budgeting</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href="./incomes">Incomes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./expenses">Expenses</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./accounts">Accounts</a>
						</li>
					</ul>

				</div>
			</div>
		</nav>